.router-container {
    display: flex;
    gap: 70px;
    background: #DADEDF;

    .sidebar-mobile-toggler {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;

        @media (max-width: 1027px) {
            display: block;
        }
    }

    .sidebar {
        width: 16%;

        @media (max-width: 1750px) {
            width: 30%;
        }

        @media (max-width: 1027px) {
            display: none;
        }
    }

    .main-content {
        width: 80%;
        padding: 30px;
        height: 100vh;
        box-sizing: border-box;

        @media (max-width: 1027px) {
            height: 100%;
        }

        @media (max-width: 1750px) {
            width: 70%;
        }

        @media (max-width: 1027px) {
            width: 100%;
        }

    }

    .support-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        gap: 10px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #00A9F6;
        height: 30px;
        border-radius: 5px;
        width: 170px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        @media (max-width: 1027px) {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .support-button:hover {
        background-color: #0088E1;
    }



}

//CSS do Layout

.main-layout-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #fff;
    padding: 0px 30px 0 30px;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.115);

    .layout-header {
        gap: 30px;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;

        .layout-logo {
            display: flex;
            justify-content: center;
            width: 100%;
            object-fit: contain;
        }
    }

    .button-new-meeting:hover {
        opacity: 0.8;
    }

    .menu-ul-list {
        gap: 20px;
        width: 100%;
        height: 60%;
        display: flex;
        list-style: none;
        padding-top: 40px;
        box-sizing: border-box;
        flex-direction: column;

        .menu-item {
            width: 100%;
            height: 40px;
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            color: #282F36;
            font-weight: 700;
            box-sizing: border-box;

            a {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                padding-left: 30px;
                border-radius: 5px;
                transition: all 0.2s ease-in-out;
            }

            a:hover {
                background-color: #E7F7FF;
            }

        }
    }

    .settings {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-left: 30px;
        width: 100%;
        height: 20%;
        font-size: 1.3rem;
        color: #282F36;
        font-weight: bold;

        a {
            margin-top: 50px;
        }
    }

}