.router-container {
    display: flex;
    gap: 70px;
    background: #DADEDF;

    .sidebar-mobile-toggler {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;

        @media (max-width: 1027px) {
            display: block;
        }
    }

    .sidebar {
        width: 16%;

        @media (max-width: 1750px) {
            width: 30%;
        }

        @media (max-width: 1027px) {
            display: none;
        }
    }

    .main-content {
        width: 80%;
        padding: 30px;
        height: 100vh;
        box-sizing: border-box;

        @media (max-width: 1027px) {
            height: 100%;
        }

        @media (max-width: 1750px) {
            width: 70%;
        }

        @media (max-width: 1027px) {
            width: 100%;
        }

    }

    .support {
        width: 100%;
        right: 10px;
        bottom: 10px;
        z-index: 1000;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;

        .support-button {
            gap: 10px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #00A9F6;
            height: 30px;
            border-radius: 5px;
            width: 170px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

        .support-button:hover {
            background-color: #0088E1;
        }

    }



}